{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Layout{% endblock %}</title>
    
      <style>
  .card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  }
</style>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'tweet_list' %}">Kaif's Tweet</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'tweet_list' %}active{% endif %}" 
                 href="{% url 'tweet_list' %}">Tweets</a>
            </li>
          </ul>

          <!-- Search Bar -->
          <form class="d-flex me-3" role="search" method="get" action="{% url 'tweet_list' %}">
            <input 
              class="form-control me-2" 
              type="search" 
              name="q"
              placeholder="Search tweets..."
              value="{{ request.GET.q }}"
              aria-label="Search"
            >
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <!-- Auth Buttons -->
          {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Logout</button>
            </form>
          {% else %}
            <a href="{% url 'register' %}" class="btn btn-primary mx-2">Register</a>
            <a href="{% url 'login' %}" class="btn btn-success mx-2">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
